.App {
  position: relative;
  z-index: -100;
  background-color: black;
  min-height: 100vh;
  height: 100%;
  min-width: 100vw;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}


.getStartedBtn {
  --r:40px; /* radius */
  --b:2px; /* border width */
  
  background: linear-gradient(90deg, #FF75C3 0%, #FFA647 59.31%, #F3DF48 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  
  border-radius: var(--r);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index:0;
}

.getStartedBtn::before {
  content:"";
  position:absolute;
  z-index:-1;
  width: 10em;
  padding: 1.5em 2em;
  border-radius: var(--r);
  border: var(--b) solid transparent;
  border-radius: var(--r);
  background: inherit;
  background-origin:border-box;
  background-clip:border-box;
  -webkit-mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite:destination-out;
  mask-composite: exclude;
}

.getStartedBtn:hover {
  color: #fff;
  -webkit-text-fill-color: #fff;
}